<% provide(:page_title, "Home") %>
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<div class="jumbotron text-center">
<div class="container">
  <h1 class="display-3">Charles Heck</h1>
  <p>I am Charles Heck, a Computer Security student at the University of Colorado Colorado Springs. I intend to graduate in Spring 2023.</p>
  <p><a class="btn btn-outline-primary btn-lg" href="https://github.com/cjheck1999" role="button">My GitHub &raquo;</a></p>
</div>
</div>



<div class="container">
<!-- Example row of columns -->
<% for i in 0..(@projects.count%3) do %>
<div class="row mb-5">
  <% if (i*3) < @projects.count %>
  <div class="col-md-4">
    <h2><%=@projects[i*3].title%></h2>
    <p><%=@projects[i*3].description%></p>
    <%=button_to 'See More »', @projects[(i*3)], method: :get, :class => "btn btn-secondary"%>
  </div>
  <% end %>
  <% if (i*3)+1 < @projects.count %>
  <div class="col-md-4">
  <h2><%=@projects[(i*3)+1].title%></h2>
    <p><%=@projects[(i*3)+1].description%></p>
    <%=button_to 'See More »', @projects[(i*3)+1], method: :get, :class => "btn btn-danger"%>
  </div>
  <% end %>
  <% if (i*3)+2 < @projects.count %>
  <div class="col-md-4">
  <h2><%=@projects[(i*3)+2].title%></h2>
    <p><%=@projects[(i*3)+2].description%></p>
    <%=button_to 'See More »', @projects[(i*3)+2], method: :get, :class => "btn btn-secondary"%>
  </div>
  <% end %>
</div>

<% end %>

<hr>

</div> <!-- /container -->
<br>